@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        /* Background */
        --color-bg: rgb(245, 245, 245);
        /* Text */
        --color-text: rgb(51, 51, 51);
        /* Header/Footer (Primary) */
        --color-primary: rgb(33, 150, 243);
        /* Button */
        --color-button: rgb(255, 152, 0);
        /* Link */
        --color-link: rgb(25, 118, 210);
        /* Button Border */
        --color-buttonBorder: rgb(255, 152, 0);
        /* Input Border */
        --color-inputBorder: rgb(204, 204, 204);
        /* Button Hover */
        --color-buttonHover: rgb(255, 183, 77);
        /* Input Hover */
        --color-inputHover: rgb(221, 221, 221);
        /* Link Hover */
        --color-linkHover: rgb(21, 101, 192);
    }

    @media (prefers-color-scheme:dark) {
        :root {
            /* Background */
            --color-bg: rgb(33, 33, 33);
            /* Text */
            --color-text: rgb(238, 238, 238);
            /* Header/Footer (Primary) */
            --color-primary: rgb(255, 87, 34);
            /* Button */
            --color-button: rgb(76, 175, 80);
            /* Link */
            --color-link: rgb(255, 152, 0);
            /* Button Border */
            --color-buttonBorder: rgb(76, 175, 80);
            /* Input Border */
            --color-inputBorder: rgb(85, 85, 85);
            /* Button Hover */
            --color-buttonHover: rgb(129, 199, 132);
            /* Input Hover */
            --color-inputHover: rgb(68, 68, 68);
            /* Link Hover */
            --color-linkHover: rgb(255, 183, 77);
        }
    }

    :root[data-theme="dark"] {
        /* Background */
        --color-bg: rgb(33, 33, 33);
        /* Text */
        --color-text: rgb(238, 238, 238);
        /* Header/Footer (Primary) */
        --color-primary: rgb(255, 87, 34);
        /* Button */
        --color-button: rgb(76, 175, 80);
        /* Link */
        --color-link: rgb(255, 152, 0);
        /* Button Border */
        --color-buttonBorder: rgb(76, 175, 80);
        /* Input Border */
        --color-inputBorder: rgb(85, 85, 85);
        /* Button Hover */
        --color-buttonHover: rgb(129, 199, 132);
        /* Input Hover */
        --color-inputHover: rgb(68, 68, 68);
        /* Link Hover */
        --color-linkHover: rgb(255, 183, 77);
    }
}